@import url("https://use.typekit.net/kpr6mjz.css");
@import url("https://use.typekit.net/moe7ljh.css");
@import url("https://use.typekit.net/lmt8vks.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --color-button: #ffcc26;
  --color-font: #bebebe;
  --color-font2: #f98225;
  --color1: #f8f8f8;
  --color2: #f6cd00;
  --color3: #ee7629;
  --color4: #f77c9b;
  --color5: #b51931;
  --color6: #066318;
  --color7: #6bc9dd;
  --color8: #072777;
  --color-background: #b9e7e7;
  --color-background2: #f6fcfc;

  font-family: report, sans-serif;
  font-weight: 400;
  font-style: normal;
  --font-2: freude, sans-serif;
  --main-text-color: #cccdce;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-font);
}

.hidden {
  display: none;
}

/* configurator container */
.configuratorContainer {
  background-color: white;
  padding-left: 7em;
  border-radius: 40px;
  box-shadow: 0px 5px 11px 0px rgb(0 0 0 / 15%);
  display: flex;
  height: 630px;
  width: 1300px;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8vh;
}

/* SVG section */

.leftSide {
  width: 35%;
  /* margin-left: 4em; */
  /* margin-left: 1.5rem; */
  /* margin-right: 8rem; */
  padding-top: 2em;
}

#svgSection {
  width: 280px;
}

.cls-1:hover {
  /* stroke: #89d0d0;
  stroke-width: 15; */
  stroke: #235555;
  stroke-width: 7px;
  filter: blur(0px);
}

.showElementWhichCanBeClicked {
  /* stroke: #007d7d; */
  stroke: #ffcc26;
  /* stroke: #f98225; */
  stroke-width: 9px;
  filter: blur(3px);
}

#instructionImage {
  position: absolute;
  width: 212px;
  z-index: 99;
  height: auto;
  margin-top: 0.3em;
  pointer-events: none;
}


/* .cls-1:hover {
  stroke: #131111;
  stroke-width: 6;
  filter: blur(2px);
  stroke-dasharray: 30;
  animation: dash 15s linear;
} */

/* @keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
} */

/* configurator section */
#configuratorSec {
  background-color: #f1f8f8;
  padding-left: 4rem;
  padding-top: 2.5em;
  width: 786px;
  height: 508px;
  border-radius: 25px;
  margin-top: 1.3em;
  margin-right: 1.3em;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.mainTitle h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.mainTitle h1 {
  color: var(--color-button);
  font-size: 32px;
  font-family: var(--font-2);
  letter-spacing: 1px;
}

.buttonsContainer {
  margin-top: 5.7em;
}

/* selected section */
.selectedDiv {
  margin-top: 1.5em;
}

.selectedTitle {
  color: var(--color-font2);
  font-family: var(--font-2);
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.selectedFeatures {
  background-color: white;
  width: 500px;
  height: 94px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px 2px rgb(121 194 194 / 30%);
}

.selectedFeatures ul {
  display: flex;
  justify-content: space-around;
  margin-left: -2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.featureSymbol {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.featureSymbol2 {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

/* features section */
.featuresTitle {
  color: var(--color-font2);
  font-family: var(--font-2);
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
  letter-spacing: 1px;
}

.featureSec {
  margin-top: 2.5em;
}

.strapDialDiv {
  display: flex;
  gap: 5rem;
  margin-top: 1em;
}

.singleFeatureTitle {
  margin-bottom: 2px;
}

.featureTitle {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.row1 {
  display: flex;
  gap: 14px;
  margin-bottom: 4px;
}

.row2 {
  display: flex;
  gap: 14px;
}

.strapOption {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  background-color: cornflowerblue;
  transition: 0.1s;
  cursor: pointer;
  opacity: 70%;
}

.strapOption img {
  max-width: 100%;
}

.strapOption:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.strapOption.selected {
  border: 1.5px solid #66bbbb;
  box-shadow: 0px 0px 10px 1px #89d0d0;
  opacity: 100%;
}

.dialOption {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: 0.1s;
  cursor: pointer;
  opacity: 70%;
}

.dialOption img {
  max-width: 100%;
}

.dialOption:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.dialOption.selected {
  border: 2.5px solid #66bbbb;
  box-shadow: 0px 0px 10px 1px #89d0d0;
  opacity: 100%;
}

.colorsDiv {
  display: flex;
  gap: 10rem;
}

.colorSelector {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  border-radius: 20rem;
  transition: 0.1s;
  border: 1px solid #cecece;
  cursor: pointer;
}

.colorSelector:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.colorSelector.colorSelected {
  border: 2px solid #66bbbb;
  box-shadow: 0px 0px 10px 1px #89d0d0;
}

.buttons {
  margin-right: 5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  height: 35px;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: report, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
}

.reset {
  width: 100px;
  background-color: #cccccc;
  transition: ease-in-out 0.1s;
  letter-spacing: 1px;
}

.reset:hover {
  background-color: #b4b4b4;
  transition: ease-in-out 0.1s;
}

.save {
  width: 120px;
  background-color: #ffcc26;
  transition: ease-in-out 0.1s;
  letter-spacing: 1px;
}

.save:hover {
  width: 120px;
  background-color: #eeb700;
  transition: ease-in-out 0.1s;
}

.strap {
  position: absolute;
  width: 86px;
  z-index: 99;
  height: auto;
  margin-top: 0.3em;
  pointer-events: none;
}

.dial {
  position: absolute;
  width: 81px;
  height: auto;
  pointer-events: none;
  margin-left: 3px;
  margin-top: 1.35em;
}

.option-strap {
  width: 80px;
  height: auto;
}
.option-dial {
  width: 80px;
  height: auto;
}

#selectedOption-strap,
#selectedOption-dial {
  width: 40px;
}

/* Animation classes */

.animate-feature-in {
  /* Animation for adding a feature */
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy));
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-feature-out {
  /* Animation for removing a feature */
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-direction: reverse;
}

@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.opacityToZero {
  animation-name: opacity-ani;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
}
@keyframes opacity-ani {
  0% {
    transform: scale(1);
    opacity: 100%;
  }

  75% {
    transform: scale(0.75)
    opacity: 0%;
  }
  100% {
  }
}
