@import url("https://use.typekit.net/kpr6mjz.css");
@import url("https://use.typekit.net/moe7ljh.css");
@import url("https://use.typekit.net/lmt8vks.css");

:root {
  --color-button: #ffd858;
  --color-font: #cccdce;
  --color-font2: #f98225;
  --color1: #00bc9e;
  --color2: #f98225;
  --color3: #ee35af;
  --color4: #312f30;
  --color5: #0b33c2;
  --color6: #ffd5f4;
  --color7: #2a3159;
  --color8: #c16beb;
  --color-background: #b9e7e7;
  --color-background2: #f6fcfc;

  font-family: report, sans-serif;
  font-weight: 400;
  font-style: normal;
  --font-2: freude, sans-serif;
  --main-text-color: #cccdce;
}

/* for fonts */
/* .freude {
  font-family: freude, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.report {
  font-family: report, sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* body style */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-font);
}

/* configurator container */
.configuratorContainer {
  background-color: white;
  margin: 3vw;
  margin-left: 6.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
  border-radius: 40px;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 630px;
  width: 1320px;
  overflow-x: hidden;
}

/* SVG section */
.leftSide {
  margin-left: 5rem;
  margin-right: 8rem;
  padding-top: 2vw;
}

#svgSection {
  width: 280px;
}

/* configurator section */
#configuratorSec {
  background-color: #ebf9f9;
  padding-left: 4rem;
  padding-top: 2vw;
  width: 790px;
  height: 540px;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mainTitle h3 {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.mainTitle h1 {
  color: var(--color-button);
  font-size: 32px;
  font-family: var(--font-2);
}

/* selected section */
.selectedDiv {
  margin-top: 8px;
}

.selectedTitle {
  color: var(--color-font2);
  font-family: var(--font-2);
  font-size: 18px;
  margin-bottom: 10px;
}

.selectedFeatures {
  background-color: white;
  width: 500px;
  height: 90px;
  border-radius: 20px;
  box-shadow: 2px 2px 11px 1px rgb(154, 235, 235);
}

.selectedFeatures ul {
  display: flex;
  justify-content: space-around;
  margin-left: -2.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.featureSymbol {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  background-color: darkseagreen;
  transition: 0.1s;
}

.featureSymbol:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

/* features section */
.featuresTitle {
  color: var(--color-font2);
  font-family: var(--font-2);
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.strapDialDiv {
  display: flex;
  gap: 7.9rem;
}

.singleFeatureTitle {
  margin-bottom: -2px;
}

.row1 {
  display: flex;
  gap: 8px;
}

.row2 {
  display: flex;
  gap: 8px;
}

.strapOption {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  background-color: cornflowerblue;
  transition: 0.1s;
}

.strapOption img {
  max-width: 100%;
}

.strapOption:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.strapOption.selected {
  box-shadow: 2px 2px 11px 1px rgb(29, 238, 238);
}

.dialOption {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  background-color: burlywood;
  border-radius: 20px;
  transition: 0.1s;
}

.dialOption img {
  max-width: 100%;
}

.dialOption:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.dialOption.selected {
  box-shadow: 2px 2px 11px 1px rgb(29, 238, 238);
}

.colorsDiv {
  display: flex;
  gap: 10rem;
  margin-top: 20px;
}

.colorSelector {
  width: 23px;
  height: 23px;
  margin-top: 7px;
  border-radius: 20rem;
  transition: 0.1s;
  border: 1px solid #cecece;
}

.colorSelector:hover {
  transform: scale(1.25);
  transition: 0.1s;
}

.colorSelector.selected {
  width: 25px;
  height: 25px;
  border: solid 3px white;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 1.5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  height: 35px;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: report, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.reset {
  width: 100px;
  background-color: #dadada;
  transition: ease-in-out 0.1s;
}

.reset:hover {
  background-color: #b4b4b4;
  transition: ease-in-out 0.1s;
}

.save {
  width: 120px;
  background-color: #ffd858;
  transition: ease-in-out 0.1s;
}

.save:hover {
  width: 120px;
  background-color: #eeb805;
  transition: ease-in-out 0.1s;
}

.strap {
  position: absolute;
  width: 108px;
  top: 13px;
  left: 131px;
  height: auto;
  pointer-events: none;
}

.dial {
  position: absolute;
  width: 95px;
  top: 52px;
  left: 139px;
  height: auto;
  pointer-events: none;
}

.option-strap {
  width: 80px;
  height: auto;
}
.option-dial {
  width: 80px;
  height: auto;
}
